@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

:root {
  /* font sizes */
  --base-size: 1rem;
  --scale: 1.35;
  --h1: calc(var(--h2-font-size) * var(--scale));
  --h2-font-size: calc(var(--h3-font-size) * var(--scale));
  --h3-font-size: calc(var(--h4-font-size) * var(--scale));
  --h4-font-size: calc(var(--h5-font-size) * var(--scale));
  --h5-font-size: calc(var(--h6-font-size) * var(--scale));
  --h6-font-size: var(--base-size);

  --font-small: calc(var(--base-size) / var(--scale));

  /* colors */
  --color-lime-primary: #a4ffa2;
  --color-magenta-primary: #f47dda;
  --color-magenta-secondary: #f47dda80;
  --color-white-primary: #ffffff;
  --color-tan-primary: #cec5b4;
  --color-teal-primary: #2e6d81;
  --color-cyan-primary: #7de6f4;
  --color-black-primary: #050d14;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-teal-primary);
  color: var(--color-white-primary);
  font-weight: 400;
  line-height: 1.75;
  padding: 0;
  margin: 0;
}

.colors {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-flow: row wrap;
}

.colors > div {
  width: 3rem;
  height: 3rem;
}

.lime {
  background-color: var(--color-lime-primary);
}

.magenta {
  background-color: var(--color-magenta-primary);
}

.magenta50 {
  background-color: var(--color-magenta-secondary);
}

.white {
  background-color: var(--color-white-primary);
}

.tan {
  background-color: var(--color-tan-primary);
}

.teal {
  background-color: var(--color-teal-primary);
  border: 1px solid var(--color-white-primary);
}

.cyan {
  background-color: var(--color-cyan-primary);
}

.black {
  background-color: var(--color-black-primary);
}

a:link,
a:visited {
  color: var(--color-lime-primary);
}

a:hover {
  color: var(--color-cyan-primary);
}

img {
  width: 100%;
  max-width: 100%;
}

html {
  font-size: 100%;
} /*16px*/

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  line-height: 1.3;
}

h1,
.h1 {
  margin-top: 0;
  font-size: var(--h1);
}

h2,
.h2 {
  font-size: var(--h2-font-size);
}

h3,
.h3 {
  font-size: var(--h3-font-size);
}

h4,
.h4 {
  font-size: var(--h4-font-size);
}

h5,
.h5 {
  font-size: var(--h5-font-size);
}

h6,
.h6 {
  font-size: var(--h6-font-size);
}

main {
  margin-bottom: 4rem;
}

figure {
  margin: 0;
  padding: 0;
}

blockquote {
  padding: 0;
  margin: 0;
}

cite {
  font-style: normal;
  margin: 0;
  padding: 0;
  margin-top: -3px;
  display: block;
}

.wrapper {
  max-width: 375px;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .wrapper {
    max-width: 800px;
  }

  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  main > h1 {
    grid-column: 1 / -1;
  }

  aside {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

.header-easy {
  padding-top: 3rem;
  padding-bottom: 2rem;
  text-align: center;
}

/*HEADER*/
.logo {
  max-width: 175px;
}

/* MAIN */

main {
  text-align: center;
}

.date {
  color: var(--color-tan-primary);
}

.club {
  color: var(--color-lime-primary);
  font-size: var(--h5-font-size);
}

/* ASIDE */
.imggroup {
  margin-top: 2rem;
  text-align: center;
}

.star {
  width: 18px;
}

footer {
  text-transform: uppercase;
  text-align: center;
  margin-top: 5rem;
}
