@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

:root {
  --color-lime-primary: #a4ffa2;
  --color-magenta-primary: #f47dda;
  --color-magenta-secondary: #f47dda80;
  --color-white-primary: #ffffff;
  --color-tan-primary: #cec5b4;
  --color-teal-primary: #2e6d81;
  --color-cyan-primary: #7de6f4;
  --color-black-primary: #050d14;
}

#7DE6F4 html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-teal-primary);
}

.colors {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.colors > div {
  width: 3rem;
  height: 3rem;
}

.lime {
  background-color: var(--color-lime-primary);
}

.magenta {
  background-color: var(--color-magenta-primary);
}

.magenta50 {
  background-color: var(--color-magenta-secondary);
}

.white {
  background-color: var(--color-white-primary);
}

.tan {
  background-color: var(--color-tan-primary);
}

.teal {
  background-color: var(--color-teal-primary);
  border: 1px solid var(--color-white-primary);
}

.cyan {
  background-color: var(--color-cyan-primary);
}

.black {
  background-color: var(--color-black-primary);
}
